
/* common */

*{
    box-sizing: border-box;
}

/* HOME */

/* Navbar */

.myNavbar{
    background-color: #fad487;
    padding: 3rem;
    height: 4rem;
    font-size: 1.3rem;
}

.myNavTitle{
    font-size: 1.5rem;
    font-weight: 200;
    border: #901838 solid 2px ;
    border-radius: 5px;
    padding: 8px;
    background-color: #96c2f5;
}

#navbarSupportedContent li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 1, 5);
}

#navbarSupportedContent li a:hover{
    padding-bottom: 6px;
    color: rgb(236, 80, 18);
    border-bottom: solid red 2px;
}

.maintext{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(250, 250, 250);
}

/* buttons */

.mainbtn1{
    text-align: right;
}
.mainbtn2{
    text-align: left;
}
.joinbtn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    width: 6rem;
    background-color: rgb(236, 118, 15);
    text-align: center;
}
.joinbtn:hover{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    width: 6rem;
    background-color: rgb(236, 138, 52);
    text-align: center;
}
.signinbtn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    width: 6rem;
    text-align: center;
}
.docpanelviewmore{
    display: flex;
    justify-content: flex-end;
}
.docpanelviewmore button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    width: 6rem;
    background-color: rgb(236, 118, 15);
    text-align: center;
    color:white;
    padding-right: 0;
    margin-right: -2rem;
    margin-bottom: -2rem;
}
.docpanelviewmore button:hover{
    background-color: rgb(236, 138, 52);
}

/* Doctor_Bar */

.testMnial{
    padding-top: 4rem;
    padding-bottom: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.docpaneltext{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(243, 121, 14);
    font-weight: 300;
    font-size: 2.5rem;
}
.docpanelsubtext{
    font-size: 1rem;
}


/* Signup */

.signup{
    display: flex;
    justify-content: center;
    z-index: 1;
}

.signup label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

/* DASHBOARD */

/* Profile details */

.profile-content{
    width: 60vw;
    height: 30rem;
    background-color: grey;
    margin: auto;
}

/* Buttons */

.keyBtn{
    width: 90%;
    height: 6rem;
    margin-bottom: 10px;
    font-size: 1.5rem;
}